<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" value="true" />

	<!-- DEEPANOMALY -->
	<include file="$(find image_inverse_sensor_model)/launch/image2ism_deepanomaly.launch"/>
	

	<!-- PEDESTRIAN DETECTION -->
	<include file="$(find image_inverse_sensor_model)/launch/bb2image_pedestrian_detector.launch"/>


	<!-- YOLO2-->
	<include file="$(find image_inverse_sensor_model)/launch/bb2image_yolo.launch"/>
	

	<!-- SEMANCTIC SEGMENTATION  -->
	<include file="$(find image_inverse_sensor_model)/launch/image2ism_fcn8.launch"/>

</launch>
